@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,400italic,500,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,700);

html, body {
	height: 100%;
	width: 100%;
}

body {
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	color: #545454;
}

/* Heading font two */
.font-dosis-normal {
  font-family: "Dosis", sans-serif;
  font-weight: 200; }

.font-dosis-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 500; }

.font-dosis-extrabold {
  font-family: "Dosis", sans-serif;
  font-weight: 700; }

/* Regular font */
.font-raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-raleway-normal {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal; }

img {
	max-width: 100%;
	height: auto;
}

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #FFF !important;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #e84855 ;
}

.navbar-custom .navbar-brand {
	font: 700 18px/1.2 'Montserrat', serif, sans-serif;
	color: #FFF;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 12px;
}

.navbar-color,
.custom-collapse {
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #222;
}

.navbar-color .navbar-nav > li.active {
	border-bottom: 3px solid #222;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #222;
}

#intro {
	width: 100%;
	height: 100%;
  position: relative;
	color: #fff;
	box-shadow: 1px 2px 20px #ccc;
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, #0b4182 1%, #1e88e5 64%, #40baf5 97%);
}

.max-width-absolute-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.table-container {
    height:100%;
    width:100%;
    display:table;
}

.browser-container {
    vertical-align: middle;
    height:100%;
    display:table-cell;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background: transparent url('../images/browser.png') no-repeat center center;
    z-index: 100;
}

.back-to-top {
    position: fixed;
    right: 3%;
    bottom: 15px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #e84855;
    z-index: 10;
    transition: all .5s ease;
    transform: scale(0);
    cursor: pointer;
}

.back-to-top.active {
    transform: scale(1);
}

.back-to-top::before {
    content: '';
    display: block;
    margin: 14px auto;
    width: 40px;
    height: 20px;
    background: url('../images/arrow.png') no-repeat center center;
}

.hexagon {
  position: relative;
  width: 105px;
  height: 60.62px;
  margin: 30.31px 0;
  background-image: url('../images/alexandrubagu.jpg');
  background-size: auto 121.2436px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 74.25px;
  height: 74.25px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 15.38px;
}

.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 105.0000px;
  height: 60.62177826491071px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-30.3109px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-30.3109px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-30.3109px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -37.1231px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -37.1231px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 105.0000px;
  height: 60.6218px;
  z-index: 2;
  background: inherit;
}

a,
.btn,
.navbar,
.form-control,
.portfolio-item-description {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

.portfolio-item-preview {
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		 -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
}

.btn,
.panel,
.progress,
.form-control,
.modal-content,
.form-control:hover,
.form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}

.btn,
.label,
.alert,
.avatar,
.progress,
.form-control,
.modal-content,
.panel-group .panel,
.widget-social li a {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

.wrapper {
	overflow: hidden;
}

.section {
	position: relative;
	padding: 60px 0;
}

.section-contact::before {
    border-color: transparent transparent #eee;
    border-width: 15px 25px;
    margin-left: -25px;
    top: -30px;
}

.section-contact::after {
    border-color: transparent transparent #f5f5f5;
    border-width: 13px 23px;
    margin-left: -23px;
    top: -26px;
}
.section-contact::before, .section-contact::after {
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
}

.section-contact {
    position: relative;
    text-align: center;
	  background: #f5f5f5 none repeat scroll 0 0;
	  border: 1px solid #eee;
    padding-bottom: 60px;
}


.section-contact a {
  color: #545454;
}

.section-contact a:hover {
  color: #E84855;
}

.section-contact a .fa {
    font-size: 26pt;
}

.section-contact p {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    cursor: hand;
}

.im-centered { 
  margin: auto; 
  max-width: 110px;
}

.generic-icon {
    padding: 10px;
    display: block;
    font-family:"Flaticon";
    font-size: 55px;
    line-height: 1;
}
.generic-icon-small {
    padding: 10px;
    display: block;
    font-family:"Flaticon";
    font-size: 35px;
    line-height: 1;
}
.generic-icon:before {
    font-size: 55px;
    margin-left: 0;
}
.generic-icon-small:before {
    font-size: 35px;
    margin-left: 0;
}

.services {
    padding-top: 25px;
}

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  margin: 30px;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.hovercolor, .hovercolor a {
  color: #E84855 !important; }

h1{
  font-size: 14px;
  letter-spacing: 2px; }

h2 {
  letter-spacing: 1px;
  font-weight: 200; }

h3 {
  line-height: 1.5em;
  font-size: 32px; }

h4 {
  letter-spacing: 3px; }

h5 {
  letter-spacing: 3px; }

h6 {
  font-size: 11px;
  letter-spacing: 3px; }

h4 a, h5 a, h6 a {
  color: #E84855; }

p {
  letter-spacing: 1px; }

a:focus {
  outline: none; }

ul {
  padding-left: 0;
  list-style: none;
  margin-left: 0px; }
  ul li {
    padding: 0px; }
    ul li a {
      cursor: pointer;
      color: #737373; }
  ul li, ul li a {
    font-size: 13px; }

.spacer1 {
  height: 10px; }

.spacer2 {
  height: 20px; }

.spacer3 {
  height: 30px; }

.spacer4 {
  height: 40px; }

.spacer6 {
  height: 60px; }

.spacer8 {
  height: 80px; }

.spacer9 {
  height: 90px; }

.spacer10 {
  height: 100px; }

.uppercase {
  text-transform: uppercase; }

i {
  color: #8e8e8e; }

.card {
  display:inline-block;
  padding-top: 20px;
  margin: 10px 10px 20px 10px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 9px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 9px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 9px 8px -6px rgba(0,0,0,.2);
  -webkit-border-radius: 18px; 
      -moz-border-radius: 18px; 
          border-radius: 18px;        
}

.card.hovercard {
  position: relative;
  width: 300px;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.card.hovercard img {
  width: 300px;
  height: 200px;
}

.card.hovercard .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.card.hovercard .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
  /*font-size: 14px;*/
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    color: #737373;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    display: block;
}
a:hover {
  text-decoration: none;
  color: #737373;
}
.notice-success {
    border-color: #80D651;
}

.notice-info {
    border-color: #45ABCD;
}

.notice-warning {
    border-color: #FEAF20;
}

.notice-danger {
    border-color: #d73814;
}

/* Vertical Timeline */
.professional-timeline > div > div .btn-lgr-str {
  margin-right: 0 !important; }
.professional-timeline .timeline-vert {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }
  .professional-timeline .timeline-vert:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    opacity: .3;
    left: 50%;
    margin-left: -0.5px; }
  .professional-timeline .timeline-vert li {
    margin-bottom: 20px;
    position: relative; }
    .professional-timeline .timeline-vert li:before, .professional-timeline .timeline-vert li:after {
      content: " ";
      display: table; }
    .professional-timeline .timeline-vert li:after {
      clear: both; }
    .professional-timeline .timeline-vert li .timeline-photo {
      min-height: 180px; }
    .professional-timeline .timeline-vert li .timeline-time {
      padding: 6px 20px;
      position: absolute;
      z-index: 9;
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    .professional-timeline .timeline-vert li:hover .timeline-photo {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: none; }
  .professional-timeline .timeline-vert li.timeline-inverted > .timeline-panel {
    float: right; }
  .professional-timeline .timeline-vert li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
  .professional-timeline .timeline-vert li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; }
  .professional-timeline .timeline-vert .timeline-badge {
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -14px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .professional-timeline .timeline-vert .timeline-badge i:before {
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      font-size: 18px;
      left: -1px;
      top: -11px;
      position: relative; }
  .professional-timeline .timeline-vert .timeline-panel {
    width: 46%;
    float: left;
    border-radius: 14px; 
    -moz-border-radius: 14px; 
    -webkit-border-radius: 14px; 
    padding: 30px;
    position: relative;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .professional-timeline .timeline-vert .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      content: " ";
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    .professional-timeline .timeline-vert .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      content: " ";
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    .professional-timeline .timeline-vert .timeline-panel h3 {
      line-height: 1.3em; }
    .professional-timeline .timeline-vert .timeline-panel h6 {
      padding-left: 14px;
      margin-bottom: 12px; }
    .professional-timeline .timeline-vert .timeline-panel h3, .professional-timeline .timeline-vert .timeline-panel h6, .professional-timeline .timeline-vert .timeline-panel p {
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }

.light .timeline-vert:before {
  background-color: #a7a7a7; }
.light .timeline-vert .timeline-badge {
  color: #404040;
  /*background: #f2f2f2;*/
  border: 3px solid transparent; }
  .light .timeline-vert .timeline-badge i:before {
    color: #404040; }
.light .timeline-vert .timeline-panel {
  background: #f2f2f2; }
  .light .timeline-vert .timeline-panel:before {
    border-left: 15px solid #f2f2f2;
    border-right: 0 solid #f2f2f2; }
  .light .timeline-vert .timeline-panel:after {
    border-left: 14px solid #f2f2f2;
    border-right: 0 solid #f2f2f2; }
  .light .timeline-vert .timeline-panel h3 {
    color: #404040; }
  .light .timeline-vert .timeline-panel h6 {
    border-left: 1px solid #E84855;
    color: #E84855; }
  .light .timeline-vert .timeline-panel .timeline-body p {
    color: #404040; }
.light .timeline-vert li .timeline-time {
  background-color: #a7a7a7;
  color: #fff; }
  .light .timeline-vert li .timeline-time i {
    color: #fff; }


.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

 @media (max-width: 992px) {

    ul.timeline-vert:before {
      left: 30px !important; }

    ul.timeline-vert > li > .timeline-panel {
      width: calc(100% - 70px) !important;
      width: -moz-calc(100% - 70px) !important;
      width: -webkit-calc(100% - 70px) !important; }

    ul.timeline-vert > li > .timeline-badge {
      left: 15px !important;
      margin-left: 0 !important;
      top: 26px !important; }

    ul.timeline-vert > li > .timeline-panel {
      float: right !important; }

    ul.timeline-vert > li > .timeline-panel:before {
      border-left-width: 0 !important;
      border-right-width: 15px !important;
      left: -15px !important;
      right: auto !important; }

    ul.timeline-vert > li > .timeline-panel:after {
      border-left-width: 0 !important;
      border-right-width: 14px !important;
      left: -14px !important;
      right: auto !important; }
}

 @media (max-width: 400px) {
  .timeline-vert .timeline-badge,
  .timeline-vert:before {
    display: none; }

  .timeline-vert .timeline-panel:before {
    border-color: transparent !important; }

  ul.timeline-vert > li > .timeline-panel {
    width: 100% !important; }
}